# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/discord.xml/
/EHWebsite25-26.iml/
/modules.xml/
/Website25-26.iml/